<h1>Job Details</h1>

<%= @job.company_name %>
<% @job.notes.each do |note| %>
<%= note.content  %>
<%end%>

<%= form_for [current_user,@job, Note.new] do |f| %>
  <%= f.text_area :content, class: "form-control" %>

<% end %>
