<h2 class="ui dividing header">My Account</h2>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <ul class="list-unstyled">
    <li><strong>Name:</strong> <%= @user.fname %> <%= @user.lname %></li>
    <li><strong>Email:</strong> <%= @user.email %></li>
    </ul>
  </div>
</div>
