<% if @user.errors.any? %>
  <div id="error_explanation" class="ui error message">
    <h3>Uh oh! Please address the following to save/update your account:</h3>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
