/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
@import "font-awesome";

body {
  padding-top: 6rem;
}

#logo {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

a#logo.navbar-brand {
  padding: 10px 15px;
}

footer {
  margin-top: 50px;
}

.ui.icon.buttons .button, .ui.icon.button {
  padding: 6px;
  margin-left: 2px;
}

.ui.button {
  padding: 10px;
}

// #sign-up {
//   background-color: #085;
//   color: #eee;
// }

.ui.green.buttons .button, .ui.green.button {
  background-color: #085;
  color: #fff;
}

#add-note {
  background-color: #f6f6f6;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#document {
    background-color: #085;
    color: #eee;
    padding: 20px;
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    border-radius: 100px;
    box-shadow: 0px 0px 1px #333;
}

h2 span.tagline-em {
  color: #085;
}
