<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="row">
      <h1 class="col-sm-12 col-md-4"><i class="fa fa-paper-plane"></i><%= link_to "App.ly", root_path, id: "logo" %></h1>
      <nav class="col-sm-12 col-md-8">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Log in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
